<div class="about-container">

  <h1>EleTrip</h1>

  <section>
    <h2>Descrição</h2>
    <p>
      O EleTrip é o meu projeto de conclusão de curso (TCC), ele é um aplicativo web desenvolvido para facilitar a gestão e aluguel de carros elétricos. Nosso objetivo é promover a mobilidade sustentável, oferecendo aos usuários uma alternativa eficiente e ecológica para suas necessidades de transporte.
    </p>
  </section>

  <section>
    <h2>Funcionalidades Principais</h2>
    <ul>
      <li><strong>Cadastro de Usuários:</strong> Registre-se e crie sua conta no EleTrip.</li>
      <li><strong>Reserva Simples:</strong> Faça reservas de forma fácil e rápida.</li>
      <li><strong>Detalhes do Veículo:</strong> Obtenha informações detalhadas sobre cada carro, incluindo autonomia, recursos e preço.</li>
      <li><strong>Gestão de Veículos:</strong> Visualize, modifique ou exclua os veículos existentes.</li>
    </ul>
  </section>

  <section>
    <h2>Tecnologias Utilizadas</h2>
    <ul>
      <li><strong>Angular:</strong> Frontend do aplicativo.</li>
      <li><strong>Node.js:</strong> Backend para a lógica de negócios.</li>
      <li><strong>MySQL:</strong> Banco de dados para armazenamento de informações.</li>
    </ul>
  </section>

  <section>
    <h2>Autor</h2>
    <p>Guilherme Tessarini de Lima</p>
  </section>

  <section>
    <h2>Orientador</h2>
    <p>David Buzatto</p>
  </section>

  <div class="back-to-home">
    <a routerLink="/" class="back-to-home-link">Voltar à Tela Inicial</a>
  </div>
</div>
