<div class="body">
  <div class="container">
    <h1 class="form-title">Trocar senha</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="main-user-info">
        <div class="user-input-box">
          <label>Senha antiga</label>
          <input
            type="password"
            id="antigaSenha"
            name="antigaSenha"
            formControlName="antigaSenha"
            placeholder="Sua senha antiga"
          />
          <div
              *ngIf="changePasswordForm.get('antigaSenha')?.invalid && (changePasswordForm.get('antigaSenha')?.dirty || changePasswordForm.get('antigaSenha')?.touched)"
              class="text-danger">
              <div *ngIf="changePasswordForm.get('antigaSenha')?.errors?.['required']">Campo obrigatório.</div>
              <div *ngIf="incorrectOldPasswordError">Senha antiga incorreta.</div>
          </div>
        </div>
        <div class="user-input-box">
          <label>Senha nova</label>
          <input
            type="password"
            id="novaSenha"
            name="novaSenha"
            formControlName="novaSenha"
            placeholder="Sua senha nova"
          />
          <div
              *ngIf="changePasswordForm.get('novaSenha')?.invalid && (changePasswordForm.get('novaSenha')?.dirty || changePasswordForm.get('novaSenha')?.touched)"
              class="text-danger">
              <div *ngIf="changePasswordForm.get('novaSenha')?.errors?.['required']">Campo obrigatório.</div>
          </div>
        </div>
        <div class="user-input-box">
          <label>Confirme a senha</label>
          <input
            type="password"
            id="confirmarSenha"
            name="confirmarSenha"
            formControlName="confirmarSenha"
            placeholder="Confirme sua senha"
          />
          <div
              *ngIf="changePasswordForm.get('confirmarSenha')?.invalid && (changePasswordForm.get('confirmarSenha')?.dirty || changePasswordForm.get('confirmarSenha')?.touched)" class="text-danger">
              <div *ngIf="changePasswordForm.get('confirmarSenha')?.errors?.['required']">Campo obrigatório.</div>
              <div *ngIf="changePasswordForm.get('confirmarSenha')?.hasError('passwordMismatch')">As novas senhas devem ser iguais!</div>
          </div>

        </div>
      </div>
      <div class="form-submit-btn">
        <input type="submit" value="Trocar Senha" class="btn-change" [disabled]="!areAllFieldsValid()"/>
      </div>
    </form>
    <a routerLink="/car-stock">
        <svg viewBox="0 0 1024 1024" class="login-icon" width="24" height="24">
          <path
            d="M512 386.517v-109.184c0-10.923-4.181-21.845-12.501-30.208-8.32-8.32-19.243-12.459-30.165-12.459s-21.845 4.139-30.165 12.459l-268.501 264.875 268.501 264.832c8.32 8.32 19.243 12.501 30.165 12.501s21.845-4.181 30.165-12.501 12.501-19.285 12.501-30.165v-106.197c117.333 2.901 245.547 24.149 341.333 170.197v-42.667c0-197.675-149.333-360.235-341.333-381.483z"
          ></path>
        </svg>
    </a>
  </div>
</div>
